.pantalon-roma, .pantalon-barcelona, .pantalon-bsas, .pantalon-ny, .pantalon-paris, .pantalon-berlin {
  background-color: #212529;
  color: #fff;
  border-radius: 5px;
  transition: 1s; }
  .pantalon-roma:hover, .pantalon-barcelona:hover, .pantalon-bsas:hover, .pantalon-ny:hover, .pantalon-paris:hover, .pantalon-berlin:hover {
    transform: scale(1.08); }
  .pantalon-roma h3, .pantalon-barcelona h3, .pantalon-bsas h3, .pantalon-ny h3, .pantalon-paris h3, .pantalon-berlin h3 {
    padding-top: 8px;
    padding-left: 4px;
    font-size: 1.2rem;
    font-weight: bolder;
    margin: 0%; }
  .pantalon-roma .price, .pantalon-barcelona .price, .pantalon-bsas .price, .pantalon-ny .price, .pantalon-paris .price, .pantalon-berlin .price {
    padding-left: 4px; }
  .pantalon-roma .price__interes, .pantalon-barcelona .price__interes, .pantalon-bsas .price__interes, .pantalon-ny .price__interes, .pantalon-paris .price__interes, .pantalon-berlin .price__interes {
    padding-left: 4px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Montserrat", sans-serif; }

header {
  height: 56px; }

.container__informacion__banner {
  height: 124px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center; }
  .container__informacion__banner .container__info__icon {
    height: 120px;
    display: flex;
    align-self: center;
    margin: auto; }
  .container__informacion__banner .icon__left {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    width: 300px; }
    .container__informacion__banner .icon__left .truck-icon {
      display: flex;
      padding: 0%;
      margin-top: 45px;
      margin-left: 30px; }
    .container__informacion__banner .icon__left .envios {
      font-size: 1rem;
      font-weight: bold;
      margin-top: 40px;
      margin-left: 15px; }
    .container__informacion__banner .icon__left .text-left {
      margin-left: 75px;
      margin-top: -30px; }
    .container__informacion__banner .icon__left .text {
      font-size: 0.75rem; }
  .container__informacion__banner .icon__center {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    width: 300px; }
    .container__informacion__banner .icon__center .cuotas {
      font-size: 1rem;
      font-weight: bold;
      margin-left: 10px;
      margin-top: 15px;
      display: flex;
      align-items: center; }
    .container__informacion__banner .icon__center .cart-icon {
      display: flex;
      margin-top: 45px; }
    .container__informacion__banner .icon__center .text-center {
      margin-left: 40px;
      margin-top: -30px; }
    .container__informacion__banner .icon__center .text {
      font-size: 0.75rem; }
  .container__informacion__banner .icon__right {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    width: 350px;
    font-size: 12px; }
    .container__informacion__banner .icon__right .card-icon {
      display: flex;
      margin-left: -35px;
      margin-top: 45px; }
    .container__informacion__banner .icon__right .pagos {
      font-size: 1rem;
      font-weight: bold;
      margin-left: 15px;
      padding-top: 30px;
      display: flex;
      align-items: center; }
    .container__informacion__banner .icon__right .text-right {
      margin-left: 10px;
      margin-top: -10px; }
    .container__informacion__banner .icon__right .text {
      font-size: 0.75rem; }

.logo img {
  width: 100%;
  height: 65vh; }

.icon {
  font-size: 2rem; }

.size {
  width: 300px;
  height: 300px; }

.container__main__destacado {
  background-color: gainsboro; }
  .container__main__destacado .titulo__destacado {
    text-align: center;
    background-color: gainsboro;
    padding-top: 40px; }
  .container__main__destacado .container__destacado {
    background-color: gainsboro;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 150px;
    padding: 40px 75px 75px 75px; }
    .container__main__destacado .container__destacado .container__productos {
      width: 302px;
      height: 400px;
      border: solid 1px #b1b0b0;
      background-color: #212529;
      color: #fff;
      border-radius: 5px;
      overflow: hidden;
      transition: 1s; }
      .container__main__destacado .container__destacado .container__productos:hover {
        transform: scale(1.08); }
      .container__main__destacado .container__destacado .container__productos h3 {
        padding-top: 8px;
        padding-left: 4px;
        font-size: 1.2rem;
        font-weight: bolder;
        margin: 0%; }
      .container__main__destacado .container__destacado .container__productos .price {
        padding-left: 4px;
        margin: 0%; }
      .container__main__destacado .container__destacado .container__productos .price__interes {
        padding-left: 4px;
        margin: 0%; }

.section__buzos {
  background-color: gainsboro; }

footer {
  background-color: #212529; }

.pantalon-roma .pantalon-1 {
  width: 304px;
  height: 300px; }

.pantalon-barcelona .pantalon-2 {
  width: 304px;
  height: 350px; }

.pantalon-bsas .pantalon-3 {
  width: 304px;
  height: 340px; }

.pantalon-ny .pantalon-4 {
  width: 304px;
  height: 500px; }

.pantalon-paris .pantalon-5 {
  width: 304px;
  height: 420px; }

.pantalon-berlin .pantalon-6 {
  width: 304px;
  height: 420px; }

.pantalon-roma {
  border: solid 1px #b1b0b0; }

.pantalon-barcelona {
  border: solid 1px #b1b0b0; }

.pantalon-bsas {
  border: solid 1px #b1b0b0; }

.pantalon-ny {
  border: solid 1px #b1b0b0; }

.pantalon-paris {
  border: solid 1px #b1b0b0; }

.pantalon-berlin {
  border: solid 1px #b1b0b0; }

@media screen and (min-width: 481px) and (max-width: 768px) {
  header {
    width: 100%; }
  .container__informacion__banner {
    width: 100%; }
    .container__informacion__banner .container__info__icon {
      width: 256px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    .container__informacion__banner .icon__left .envios {
      font-size: 1rem;
      margin: 0%; }
    .container__informacion__banner .icon__left .text-left {
      font-size: 0.7rem;
      margin: 0%; }
    .container__informacion__banner .icon__left .truck-icon {
      margin: 0%; }
    .container__informacion__banner .icon__center .cuotas {
      margin: 0%;
      font-size: 1rem; }
    .container__informacion__banner .icon__center .text-center {
      font-size: 0.7rem;
      margin: 0%; }
    .container__informacion__banner .icon__center .cart-icon {
      margin: 0%; }
    .container__informacion__banner .icon__right {
      width: 240px;
      text-align: center; }
      .container__informacion__banner .icon__right .pagos {
        padding: 0%;
        margin: 0%; }
      .container__informacion__banner .icon__right .card-icon {
        margin: 0%; }
      .container__informacion__banner .icon__right .text-right {
        margin: 0%;
        font-size: 0.7rem; }
  .container__main__destacado .container__destacado {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px 75px;
    padding: 30px 50px 50px 50px; }
    .container__main__destacado .container__destacado .container__productos {
      width: 282px; }
  .size {
    width: 280px;
    height: 280px; }
  .logo {
    width: 100%;
    height: 65vh; }
  footer {
    height: 100%; } }

@media screen and (min-width: 320px) and (max-width: 480px) {
  .container__informacion__banner {
    display: none;
    width: 480px;
    grid-template-columns: 1fr 1fr 1fr;
    overflow: auto;
    gap: 40px; }
    .container__informacion__banner .container__info__icon {
      position: relative;
      left: 300px; }
    .container__informacion__banner .icon__left {
      position: relative;
      left: 300px; }
    .container__informacion__banner .icon__center {
      position: relative;
      left: 300px; }
    .container__informacion__banner .icon__right {
      position: relative;
      left: 300px; }
  .logo {
    width: 100%;
    height: 150px; }
    .logo .logo__mobile {
      height: 150px; }
  .container__main__destacado {
    width: 100%; }
    .container__main__destacado .titulo__destacado {
      width: 100%; }
    .container__main__destacado .container__destacado {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .container__main__destacado .container__destacado .container__productos {
        width: 222px;
        display: flex;
        flex-direction: column;
        border: solid 1px #b1b0b0; }
  .size {
    width: 220px;
    height: 220px; }
  .pantalon-roma .pantalon-1 {
    width: 220px;
    height: 220px; }
  .pantalon-barcelona .pantalon-2 {
    width: 220px;
    height: 250px; }
  .pantalon-bsas .pantalon-3 {
    width: 220px;
    height: 240px; }
  .pantalon-ny .pantalon-4 {
    width: 220px;
    height: 360px; }
  .pantalon-paris .pantalon-5 {
    width: 220px;
    height: 300px; }
  .pantalon-berlin .pantalon-6 {
    width: 220px;
    height: 300px; }
  footer {
    width: 100%; }
    footer .maps {
      width: 250px;
      height: 250px; } }
