@media  screen and (min-width: 320px) and (max-width: 480px) {

    .container__informacion__banner {
        display: none;
        width: 480px;
        grid-template-columns: 1fr 1fr 1fr;
        overflow: auto;
        gap: 40px;

            .container__info__icon {
                position: relative;
                left: 300px;
            }
            .icon__left {
                position: relative;
                left: 300px;
            }
        
            .icon__center {
                position: relative;
                left: 300px;
            }
        
            .icon__right {
                position: relative;
                left: 300px;
            }
    }

    .logo {
        @include sizes (100%, 150px);

        .logo__mobile {
            height: 150px;
        }
    }
    
    .container__main__destacado {
        width: 100%;

        .titulo__destacado {
            width: 100%;
        }
        .container__destacado {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .container__productos {
                width: 222px;
                display: flex;
                flex-direction: column;
                border: solid 1px $borderColor;
            }
        }

    }
    
    .size {
        @include sizes (220px, 220px);
    }

    .pantalon-roma {
        width: 222px;
        
        .pantalon-1 {
            @include sizes (220px, 240px)
        }
    }

    .pantalon-barcelona {
        width: 222px;
        
        .pantalon-2 {
            @include sizes (220px, 270px)
        }
    }

    .pantalon-bsas {
        width: 222px;

        .pantalon-3 {
            @include sizes (220px, 240px)
        }
    }

    .pantalon-ny {
        width: 222px;
        
        .pantalon-4 {
            @include sizes (220px, 360px)
        }
    }

    .pantalon-paris {
        width: 222px;
        
        .pantalon-5 {
            @include sizes (220px, 300px)
        }
    }

    .pantalon-berlin {
        width: 222px;
        
        .pantalon-6 {
            @include sizes (220px, 300px)
        }
    }

    footer {
        width: 100%;

            .maps {
                @include sizes (250px, 250px);
            }
    }
}