.pantalon-1 {
    height: 300px;
    width: 300px;
}

.pantalon-2 {
    height: 350px;
    width: 300px;
}

.pantalon-3 {
    height: 340px;
    width: 300px;
}

.pantalon-4 {
    height: 500px;
    width: 300px;
}

.pantalon-5 {
    height: 420px;
    width: 300px;
}

.pantalon-6 {
    height: 420px;
    width: 300px;
}